<div class="container">
    <div class="row">
        <div class="col-md-6 col-12 mx-auto text-center">
            {{> messages/messages}}
            <form action="/signin" method="post">
                <h3 class="pb-5">Crear Cuenta</h3>
                <div class="form-group">
                    <input type="text" name="name" value="{{old.name}}" class="form-control" placeholder="Nombre Completo" autofocus>
                </div>
                <div class="form-group">
                    <input type="text" name="email" value="{{old.email}}" placeholder="Email" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" name="phone" value="{{old.phone}}" class="form-control" placeholder="Teléfono">
                </div>
                <div class="form-group">
                    <input type="password" name="password" placeholder="Contraseña" class="form-control">
                </div>
                <div class="form-group">
                    <input type="password" name="repeat-password" placeholder="Repita la contraseña"
                        class="form-control">
                </div>
                <div class="form-group">
                    <div class="form-check">
                        <label class="form-check-label text-uppercase">
                           <input class="form-check-input" name="conditions" type="checkbox" value="{{#if old.conditions}}1{{else}}0{{/if}}" {{#if old.conditions}}checked{{/if}}>
                           <small class="small">acepto términos y condiciones</small>
                        </label>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Crear cuenta</button>
            </form>
        </div>
    </div>
</div>