<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
  <a class="navbar-brand" href="/">{{#setPageTitle}}{{/setPageTitle}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item {{#if home}}active{{/if}}">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item {{#if forms}}active{{/if}}">
        <a class="nav-link" href="/formularios">Formularios</a>
      </li>
      <li class="nav-item {{#if flash}}active{{/if}}">
        <a class="nav-link" href="/formularios/flash">Mensajes Flash</a>
      </li>
      <li class="nav-item {{#if validator}}active{{/if}}">
        <a class="nav-link" href="/formularios/validator">Express Validator</a>
      </li>
    </ul>
    <div class="my-2 my-lg-0">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user-circle"></i>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/panel">Ajustes</a>
            <a class="dropdown-item" href="#">Mensajes</a>
            <a class="dropdown-item" href="#">Perfil Público</a>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item">Salir</a>
          </div>
        </li>
        <li class="nav-item {{#if login}}active{{/if}}">
          <a class="nav-link" href="/iniciar-sesion">Ingresar</a>
        </li>
        <li class="nav-item {{#if signin}}active{{/if}}">
          <a class="nav-link" href="/crear-cuenta">Crear Cuenta</a>
        </li>

      </ul>
    </div>

  </div>
</nav>