        <div class="col-md-2 d-none d-sm-none d-md-block h-100">
            <div class="avatar text-center mb-3">
                <img src="https://dummyimage.com/200x200/fff/avatar"
                    class="img-fluid img-thumbnail rounded-circle border border-primary">
            </div>
            <div class="user-info text-center mb-3">
                <strong class="text-uppercase">Nombre Completo</strong>
            </div>
            <ul class="nav flex-column user-panel">
                <li class="nav-item">
                    <a class="nav-link {{#if panel}}active-panel{{/if}}" href="/panel">Ajustes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{#if mensajes}}active-panel{{/if}}" href="/mensajes">Mensajes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Perfil Público</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cerrar-sesion">Salir</a>
                </li>
            </ul>
        </div>